<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			<br/> My name is Mohammad Akbari & I am Web Developer & l live in tehran. 
                         I dont have experience, but I have a lot of programming skills. 
                         <br/> I am nineteen years old & I am student at shamsipour university
			
		</div>
		<br>
	</div>
</div>
